<h3>Your covers</h3>

<ul class="coverlist">
    <li *ngFor="let cover of coverItems">{{cover}}</li>
</ul>

<h1 class="my-4 text-center text-lg-left">Add cover to your policy</h1>
<div class="row text-center text-lg-left">
  <div class="col-lg-3 col-md-4 col-xs-6">
    <button class="d-block mb-4 h-100" (click)="open(carCover)">
      <img class="img-fluid img-thumbnail" src="images/carcover.png" alt="">
    </button>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <button href="#" class="d-block mb-4 h-100" (click)="open(propertyCover)">
      <img class="img-fluid img-thumbnail" src="images/property.png" alt="">
    </button>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <button href="#" class="d-block mb-4 h-100" (click)="open(householdContents)">
      <img class="img-fluid img-thumbnail" src="images/householdcontents.png" alt="">
    </button>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <button href="#" class="d-block mb-4 h-100" (click)="openAllRisk(allRiskCover)">
      <img class="img-fluid img-thumbnail" src="images/allrisk.png" alt="">
    </button>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <button href="#" class="d-block mb-4 h-100" (click)="openLiability(liabilityCover)">
      <img class="img-fluid img-thumbnail" src="images/liability.png" alt="">
    </button>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <button href="#" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="images/petcover.png" alt="">
    </button>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <button href="#" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="images/lifecover.png" alt="">
    </button>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <button href="#" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="images/hospital.png" alt="">
    </button>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <button href="#" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="images/business.png" alt="">
    </button>
  </div>
</div>

<ng-template #carCover let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Vehicle Cover</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
        <div class="form-group">
          <label for="dateOfBirth">Make</label>
          <div class="input-group">
            <input id="make" class="form-control" placeholder="Make" name="dp">
          </div>
        </div>
        <div class="form-group">
          <label for="dateOfBirth">Model</label>
          <div class="input-group">
            <input id="model" class="form-control" placeholder="Model" name="dp">
          </div>
        </div>
        <div class="form-group">
          <label for="dateOfBirth">Year</label>
          <div class="input-group">
            <input id="year" class="form-control" placeholder="Year" name="dp">
          </div>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<ng-template #propertyCover let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Property Cover</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Property value</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<ng-template #householdContents let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Household contents</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Household contents
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<ng-template #allRiskCover let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">All Risk Items</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <parcel-component [config]="coverItems"></parcel-component>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<ng-template #liabilityCover let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Liability Cover</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body liability">
      <iframe src="http://localhost:4545"></iframe>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>